<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page</title>

  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <div class="navbar">

    <div>
      <img src="../images/logo.jpg" alt="Logo">
    </div>

    <div class="navbar-sub">
      <div style="margin-right: 30px;">🔔</div>
      <div class="profile">
        <img src="../images/user.jpg" alt="User">
        <div>
          <strong>Admin pannel</strong><br>
          <small>Fleet Administrator</small>
        </div>
      </div>
    </div>

  </div>

</body>

</html>