<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page</title>

  <link rel="stylesheet" href="../css/style.css">

</head>

<body>

  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="side-bar-item"><a href="../pages/dashboard.html">Dashboard</a></li>
      <li class="side-bar-item"><a href="../pages/builty_lr.html">Builty (LR)</a></li>
      <li class="side-bar-item"><a href="../pages/tripdispatch.html">Trips & Dispatch</a></li>
      <li class="side-bar-item"><a href="../pages/customers.html">Customers</a></li>
      <li class="side-bar-item"><a href="../pages/expenses.html">General Expenses</a></li>
      <li class="side-bar-item"><a href="../pages/accounts.html">Accounts & Billing</a></li>
      <li class="side-bar-item"><a href="../pages/payments.html">Payments</a></li>
      <li class="side-bar-item"><a href="#">Reports</a></li>
    </ul>

    <div class="sidebar-footer">
      <div class="footer-content">
        <img src="../Images/logout.png" class="logout-img" alt="logout">
        <a href="#">Sign Out</a>
      </div>
    </div>
  </div>

  <script src="../js/include.js"></script>

</body>

</html>