<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page</title>

  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <div class="sidebar">
    <ul>
      <li><a href="../pages/dashboard.html">Dashboard</a></li>
      <li><a href="../pages/builty_lr.html">Builty (LR)</a></li>
      <li>Trips & Dispatch</li>
      <li>Customers</li>
      <li>Accounts & Billing</li>
      <li>Reports</li>
    </ul>

    <div class="sidebar-footer">
      <a href="#">🔴 Sign Out</a>
    </div>
  </div>

</body>

</html>